@font-face {
    font-family: heading;
    src: url(./MightyCouragePersonalUseOnl-4BJ8x.otf);
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /* margin: 0; */
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    z-index: 0;
}
h2{
    margin-top: -0.1rem;
    margin-left: 1rem;
    text-align: left;
    font-family: heading;
    font-size: 50px;
    color: honeydew;
    font-weight: lighter;
    opacity: 1;
}
.card{
    margin-top: 7%;
    padding: 10px;
    /* width: 66%;
    height: 66vmin; */
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 60px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
}
p{
    padding: 1rem;
    font-family: 'Poppins' , sans-serif;
    color: white;
    opacity: 0.8;
}
h3{
    font-family: 'Poppins' , sans-serif;
    padding: 1rem;
    margin-top: -1rem;
    margin-bottom: -2rem;
    font-size: 50px;
    color: white;
    display: inline-block;
}
span{
    font-family: 'Poppins', sans-serif;
    margin-left: -1rem;
    color: white;
    
}
a:hover{
    cursor: pointer;
    color: blueviolet;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}
